body{

    .navbar{
        min-height: 12vh;
        padding: 0 1% 0 1%;

        .container-fluid{
            display: flex;
            align-items: center;

            button{
                background-color: white;
            }
        }
        
        .nav-item{

            .nav-link{
                color: white;
                font: 500 18px sans-serif;
                text-transform: capitalize;
            }
            .active{
                color: orange;
            }
           
        }
    }

    #home{
        background-attachment: fixed;
        background-image: url(images/banner-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container{

            h2{
                font: 500 67px sans-serif;
                text-transform: capitalize;
            }

            h1{
                font: 800 70px sans-serif;
                text-transform: capitalize;
                color: white;
            }

            p{
                width: 44%;
                font: 600 17px sans-serif;
                color: white; 
                margin-bottom: 45px;
            }

            a{
                text-decoration: none;
                background-color: black;
                color: white;
                font: bold 14px sans-serif;
                padding: 17px 33px;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    color: white;
                    background-color: orange;
                    
                }
            }
        }
    }

 #about-us{

    .container{
        margin: 100px auto 100px auto;

        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{

                h3{
                    font: 800 40px sans-serif;
                    color: orange;
                    text-transform: uppercase;

                }

                p{
                    font: 500 18px sans-serif;

                    &:nth-child(2){
                        width: 90%;
                    }

                    &:nth-child(3){
                        width: 90%;
                    }
                }

                a{
                    background-color: black;
                    color: white;
                    text-transform: capitalize;
                    font: bold 20px sans-serif;
                    transition: 0.3s;
                    margin-bottom: 20px;

                    &:hover{
                        color: white;
                        background-color: orange;
                    }
                }
            }

            .right{
                position: relative;
                img{
                    height: 550px;
                    width: 103%;
                    margin-left: -9px;
                    box-shadow: 0 0 10px black;
                    object-fit: cover;
                }

                .black-line{
                    position: absolute;
                    border: 4px solid black;
                    height: 100%;
                    width: 100%;
                    left: -20px;
                    bottom: -20px;
                    z-index: -1;
                
                }
                
            }
        }
    }
 }

 #our-gallery{

    .container{

        margin-bottom: 100px;

        .row{

            .our-text{

                h3{
                    font: 800 40px sans-serif;
                    color: orange;
                    text-transform: uppercase;
                    text-align: center;
                }

                p{
                    font: 500 18px sans-serif;
                    text-align: center;
                    margin: 35px 0 55px 0;
                }
            }

            .pictures{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 40px;

                .picture{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    .icon{
                        position: absolute;
                        background-image: linear-gradient(rgba(199, 197, 197, 0.5),rgba(199, 197, 197, 0.5));
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: 0.4s;

                        &:hover{
                            opacity: 1;
                            
                        }
                        

                        i{
                            font-size: 50px;
                            color: black;
                        }
                    }
                }
            }

            a{
                background-color: black;
                color: white;
                text-transform: capitalize;
                font: bold 20px sans-serif;
                transition: 0.3s;
                width: 15%;
                margin: 60px auto 0 auto;

                &:hover{
                    color: white;
                    background-color: orange;
                }
            }
        }
    }
 }
}